:root {
    --color-main: #08A6E4;
    --color-main-shadow: rgba(7, 172, 230, .16);
    --color-second: #FB3B64;
    --color-third: #55DFB4;
    --font-main: 'Open Sans', sans-serif;
    --font-second: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body a {
text-decoration: none;
}


.container {
    max-width: 1372px;
    padding: 0 10px;
    margin: 0 auto;
}


/*
-------------------------------------------------------------
HEADER
-------------------------------------------------------------
 */


.header {
    box-shadow: 0 3px 6px #00000029;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo {
    font-weight: lighter;
    font-size: 32px;
    font-family: var(--font-second);
    color: var(--color-main);
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header__nav-item {
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    font-family: var(--font-main);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 66px;
    color: #A5A5A5;
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(0,0,0,0);
}
.header__nav-item:hover {
    color: black;
    border-bottom: 3px solid var(--color-main);
    box-sizing: initial;
}

.header__nav-item:hover a {
    color: black;
}

.menu {
    height: 100%;
}

.header__nav-item a {
    color: #A5A5A5;
}

/*
-------------------------------------------------------------
HERO
-------------------------------------------------------------
 */
.hero {

}
.hero__title {
    text-align: center;
    font-size: 49px;
    font-family: var(--font-second);
    color: #000000;
    margin-top: 130px;
}
.hero__text {
    text-align: center;
    font-family: var(--font-main);
    color: #000000;
    margin: 20px auto;
}
.btn {
    color: white;
    background-color: var(--color-main);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: center;
}
.btn-main {
padding: 22px 157px;
    margin: 20px;

}
.hero__img {
    width: calc(100vw - 30px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


/*
-------------------------------------------------------------
STATISTICS
-------------------------------------------------------------
 */


.stats {

}
.stats__title {
    text-align: center;
    font-size: 36px;
    font-family: var(--font-second);
    color: #000000;
    margin: 100px auto;
}
.stats__container {
display: flex;
    justify-content: center;
    align-items: flex-start;

}
.stats__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 185px;
}
.icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;

}
.icon--first {
    background: var(--color-second);
}

.icon--second {
    background: var(--color-main);
}
.icon--third {
    background: var(--color-third);
}

.icon::after {
    /*display: inline-block;*/
    position: absolute;


}
.icon--first::after {
   content: url("../assets/person.svg");
    top: 8%;
    left: 50%;
}

.icon--second::after {
    content: url("../assets/eye.svg");
    top: 22%;
    left: 30%;
}
.icon--third::after {
    content: url("../assets/catalog.svg");
    top: 8%;
    left: 50%;
}

.stats__number {
    font-weight: bolder;
    font-size: 20px;
    font-family: var(--font-second);
    letter-spacing: 6px;
    padding: 14px 0 19px 0;
}
.stats__text {
    font-size: 17px;
    font-family: var(--font-second);
    color: #A5A5A5;
    text-align: center;
    line-height: 20px;
}