:root {
    --color-main: #08A6E4;
    --color-main-shadow: rgba(7, 172, 230, .16);
    --color-second: #FB3B64;
    --color-third: #55DFB4;
    --font-main: 'Open Sans', sans-serif;
    --font-second: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
}


.container {
    max-width: 1372px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    color: white;
    background-color: var(--color-main);
    border-radius: 40px;
    border: none;
}

.btn:hover {
    transform: scale(1.03);
    box-shadow: 5px 10px 14px rgba(124, 120, 116, 0.36);
}

/*
-------------------------------------------------------------
HEADER
-------------------------------------------------------------
 */

.header {
    box-shadow: 0 3px 6px #00000029;
    position: sticky;
    top: 0;
    background: white;
    z-index: 3;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    font-weight: lighter;
    font-size: 32px;
    font-family: var(--font-second);
    color: var(--color-main);
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__nav-item {
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    font-family: var(--font-main);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 66px;
    color: #A5A5A5;
    padding: 0 12px;
    height: calc(100% - 3px);
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.header__nav-item a{
    padding: 29px 0;
}


.header__nav-item:hover {
    color: black;
    border-bottom: 3px solid var(--color-main);
    box-sizing: initial;
}

.header__nav-item:hover a {
    color: black;
}

.menu {
    height: 100%;
}

.header__nav-item a {
    color: #A5A5A5;
}

/*
-------------------------------------------------------------
HERO
-------------------------------------------------------------
 */


.hero {

}

.hero__title {
    text-align: center;
    font-size: 49px;
    font-family: var(--font-second);
    color: #000000;
    margin-top: 130px;
}

.hero__text {
    text-align: center;
    font-family: var(--font-main);
    color: #000000;
    margin: 20px auto;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-main {
    padding: 22px 157px;
    margin: 20px;
    box-shadow: 5px 10px 14px #07ACE629;
    background-color: var(--color-main);

}

.hero__img {
    width: calc(100vw - 30px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


/*
-------------------------------------------------------------
STATISTICS
-------------------------------------------------------------
 */


.stats {

}

.stats__title {
    text-align: center;
    font-size: 36px;
    font-family: var(--font-second);
    color: #000000;
    padding: 100px 0;
}

.stats__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 120px;
}

.stats__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 185px;
}

.stats__icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;

}

.stats__icon--first {
    background: var(--color-second);
}

.stats__icon--second {
    background: var(--color-main);
}

.stats__icon--third {
    background: var(--color-third);
}

.stats__icon::after {
    position: absolute;
}

.stats__icon--first::after {
    content: url("../assets/person.svg");
    top: 8%;
    left: 50%;
}

.stats__icon--second::after {
    content: url("../assets/eye.svg");
    top: 22%;
    left: 30%;
}

.stats__icon--third::after {
    content: url("../assets/catalog.svg");
    top: 8%;
    left: 50%;
}

.stats__number {
    font-weight: bolder;
    font-size: 20px;
    font-family: var(--font-second);
    letter-spacing: 6px;
    padding: 14px 0 19px 0;
}

.stats__text {
    font-size: 17px;
    font-family: var(--font-second);
    color: #A5A5A5;
    text-align: center;
    line-height: 20px;
}

/*
-------------------------------------------------------------
BENEFITS
-------------------------------------------------------------
 */

.benefits {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.benefits__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 106px;
    margin-bottom: 105px;
}

.benefits__element {
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    min-width: 1124px;
    height: 370px;
    background-color: white;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
}

.column {
    margin: 0 20px 0 35px;
    width: 416px;
    height: 188px;
    position: relative;
}

.column::after {
    content: "";
    width: 328px;
    height: 4px;
    position: absolute;
    bottom: 0;
}

.column--second-color::after {
    background-color: var(--color-second);
}

.column--main-color::after {
    background-color: var(--color-main);
}

.column--third-color::after {
    background-color: var(--color-third);
}

.benefits__title {
    font-family: var(--font-second);
    font-size: 36px;
    margin-bottom: 30px;
}

.benefits__text {
    font-family: var(--font-main);
    width: 100%;
    position: relative;
}

.benefits__img {
    height: auto;
    z-index: 2;
    position: relative;
    align-self: flex-end;
}

.benefits img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.benefits__img--laptop {
    width: 386px;
    margin-right: 118px;
    margin-bottom: 38px;
}

.benefits__img--laptop::after {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background-color: #FB3B64;
    border-radius: 41px;
    top: -16%;
    right: -3%;
}

.benefits__img--phone {
    width: 426px;
    height: auto;
}

.benefits__img--phone::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    background: #07ACE6;
    border-radius: 50%;
    left: 1%;
    top: -7%;
    margin-left: 70px;
    margin-bottom: 13px;
}

.benefits__img--phone img {
    width: 100%;
}

.benefits__img-background .benefits__img--trumpet {
    width: 296px;
    height: auto;
    position: absolute;
    top: 27%;
    left: 15%;
}

.benefits__img-background {
    width: 440px;
    height: 370px;
    background-color: var(--color-third);
    position: relative;
}

.benefits__element--space {
    min-width: 1124px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: flex-start;
}

.benefits__element--small {
    min-width: 623px;
}

/*
-------------------------------------------------------------
PRICING
-------------------------------------------------------------
 */

.pricing {
}

.pricing__title {
    font-size: 36px;
    font-family: var(--font-second);
    text-align: center;
    padding: 100px 0 50px 0;
}

.pricing__elements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 179px;
}

.pricing__element {
    border-radius: 18px;
    width: 372px;
    height: 461px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pricing__element--basic {
    border: 1px solid var(--color-second);
}

.pricing__element--professional {
    border: 1px solid var(--color-main);
    box-shadow: 5px 10px 27px #07ACE629;
    width: 405px;
    height: 500px;
    margin: 0 58px;
}

.pricing__element--premium {
    border: 1px solid var(--color-third);
}

.pricing__element--basic .pricing__cost {
    color: var(--color-second);
}

.pricing__element--professional .pricing__cost {
    color: var(--color-main);
}

.pricing__element--premium .pricing__cost {
    color: var(--color-third);
}

.pricing__element-title {
    font-weight: bold;
    font-size: 20px;
    font-family: var(--font-second);
    color: #13253B;
    margin-top: 34px;
}

.pricing__cost {
    font-weight: lighter;
    font-size: 46px;
    font-family: var(--font-main);
    margin-top: 14px;
}

.pricing__extra-text {
    font-weight: bold;
    font-size: 12px;
    font-family: var(--font-second);
    color: #13253B;
    margin-top: 25px;
    margin-bottom: 61px;
}

.pricing__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing_list-element {
    font-size: 14px;
    font-family: var(--font-main);
    margin-bottom: 20px;
    position: relative;
}

.pricing_list-element::before {
    content: url("../assets/ckechmark.svg");
    position: absolute;
    top: 0;
    left: -21px;
}

.pricing_list-element--no::before {
    content: url("../assets/close.svg");
}

.pricing__element--professional .pricing_list-element {
    margin-bottom: 27px;
}

.btn-pricing {
    color: white;
    font-weight: bold;
    font-size: 13px;
    font-family: var(--font-main);
    padding: 16px 57px;
    position: absolute;
    bottom: -26px;
}

.btn-basic {
    background-color: #EB476E;
}

.btn-professional {
    background-color: #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
}

.btn-premium {
    background-color: #55DFB4;
    box-shadow: 5px 10px 14px #07ACE629;
}

/*
-------------------------------------------------------------
CONTACT
-------------------------------------------------------------
 */

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact__left {
    padding-right: 114px;
    margin-bottom: 270px;
}

.contact__title {
    font-size: 49px;
    font-family: var(--font-second);
}

.contact__text {
    font-size: 16px;
    font-family: var(--font-main);
    margin: 22px 0 40px 0;
}

.contact__info {
    font-weight: 600;
    font-size: 16px;
    font-family: var(--font-main);
    color: #A5A5A5;
    display: flex;
    align-items: center;
}

.contact__icon-mail {
    padding-right: 10px;
}

.contact__icon-phone {
    padding: 0 10px 0 20px;
}

.contact__right {
    width: 440px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form-checkbox * {
    display: block;
}

.contact__form-checkbox {
    font-weight: lighter;
    font-size: 10px;
    font-family: var(--font-main);
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0;
    color: #B2B2B2;
}

.contact__form-checkbox span {
    padding-left: 10px;
}

.contact__form-checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    outline: none;
    flex-shrink: 0;
    padding: 0;
    background: #FFFFFF no-repeat padding-box;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.contact__form-checkbox input:checked {
    background-image: url("../assets/checkmark2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.contact__form-name,
.contact__form-email {
    display: block;
    color: var(--color-main);
    font-weight: bold;
    font-size: 11px;
    font-family: var(--font-main);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.contact__form-name input,
.contact__form-email input {
    display: block;
    width: 100%;
    padding: 24px 14px 2px 14px;
    font-size: 14px;
    margin-bottom: 42px;
    border: none;
    border-bottom: 1px solid #95989A;
}


.contact__form-name input::after,
.contact__form-email input::after {
    content: "";
    width: 444px;
    height: 4px;
    color: #95989A;
    display: block;
}

.btn-send {
    font-weight: bold;
    font-size: 13px;
    font-family: var(--font-main);
    padding: 20px 97px;
    margin-top: 20px;
    align-self: flex-end;
}

/*
-------------------------------------------------------------
FOOTER
-------------------------------------------------------------
*/

.footer {
    height: 89px;
    background: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo--small {
    font-size: 26px;
}

.copywright {
    font-size: 11px;
    margin-top: 6px;
    font-family: var(--font-main);
    color: #A5A5A5;
}

.footer__right {
    height: 100%;
    display: flex;
    align-items: center;
}

.twitter-logo {
    margin-right: 20px;
}

.facebook-logo {

}