* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body a {
  text-decoration: none;
}


.container {
  max-width: 1362px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1352px) {
    width: 100%;
    padding: 0 15px;
  }
}

.logo {
  font-weight: lighter;
  font-size: 32px;
  font-family: $font-second;
  color: $color-main;
}

%btn {
  color: white;
  background-color: $color-main;
  border-radius: 40px;
  border: none;
  font-family: $font-main;
  font-weight: 600;
  font-size: 13px;

  &:hover {
    transform: scale(1.03);
    box-shadow: 5px 10px 14px rgba(124, 120, 116, 0.36);
  }
}


