@use "sass:map";

%b-element {
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 37px;
  height: 370px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
}

%img {
  height: auto;
  position: relative;

  img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

%column {
  margin: 0 20px 0 35px;
  width: 416px;
  height: 188px;
  position: relative;

  &::after {
    content: "";
    width: 328px;
    height: 4px;
    position: absolute;
    bottom: 0;
  }
}

@each $col in $c {
  .column--#{$col} {
    @extend %column;

    &::after {
      background-color: map.get($colors, #{$col});
    }
  }
}

.benefits {
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__container {
    @extend .container;
    margin: 105px auto;
    padding: 0 104px;
  }

  &__element {
    &-big {
      @extend %b-element;
      width: 100%;
    }

    &-small {
      @extend %b-element;
      width: 623px;
      flex-shrink: 1;
    }

    &-space {
      width: 100%;
      height: 370px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 36px;
    margin-bottom: 30px;
  }

  &__text {
    font-family: $font-main;
    width: 100%;
    position: relative;
  }

  &__img-laptop {
    @extend %img;
    width: 386px;
    margin-right: 10%;
    margin-top: 3vw;

    &::after {
      content: "";
      position: absolute;
      width: 46.6%;
      height: 82%;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      background-color: #FB3B64;
      border-radius: 41px;
      top: -16%;
      right: -3%;
    }
  }

  &__img-phone {
    @extend %img;
    width: 426px;
    margin-top: 30px;
    margin-left: 50px;

    &::after {
      content: "";
      position: absolute;
      width: 75%;
      height: 97.5%;
      background-color: #07ACE6;
      border-radius: 50%;
      right: 21%;
      top: -7%;
    }
  }

  &__img-trumpet {
    @extend %img;
    width: 75%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 15%;
  }

  &__img-solo {
    @extend %b-element;
    width: 440px;
    background-color: $color-third;
    position: relative;
    flex-shrink: 1;
  }
}

@media (max-width: 1000px) {
  %column {
    width: 300px;
    height: auto;
    margin: 0 30px;

    &::after {
      width: 100%;
    }
  }

  %img {
    transform: scale(0.8);
  }

  %b-element {
    height: 300px;
    padding: 0 40px;
  }

  .benefits {

    &__container {
      margin: 50px auto;
    }

    &__title {
      font-size: 30px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__img-laptop {
      margin-right: 0;
      flex-shrink: 2;
    }

    &__img-phone {
      margin-left: 0;
      flex-shrink: 2;
    }

    &__img-trumpet {
      top: 30%;
      left: 3%;
      transform: scale(1.2);
    }

    &__img-solo {
      height: 300px;
    }

    &__element-space {
      height: 300px;
    }
  }

  .column--color-third {
    width: 100%;
  }
}

@media (max-width: 850px) {
  %column {
    margin: 0;
  }

  %img {
    transform: scale(1.05);
    width: auto;
    height: auto;
  }

  .benefits__img {
    &-trumpet {
      top: 30%;
      left: -5%;
      width: 100%;
    }

    &-laptop {
      margin-left: 20px;
    }
  }
}

@media (max-width: 660px) {
  %b-element {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  %img {
    align-self: center;
    width: 200px;
    height: auto;
    margin: 50px;
  }

  %column {
    width: 80%;

    &::after {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .benefits {

    &__element {

      &-big {
        position: relative;

        &:first-child {
          flex-direction: column-reverse;
        }
      }

      &-space {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 420px;
      }

      &-small {
        padding: 40px;
      }
    }

    &__img-solo {
      height: 195px;
      position: relative;
      top: -80px;
      display: flex;
      justify-content: flex-start;
    }

    &__img-trumpet {
      transform: scale(1.6);
      position: relative;
      top: 0;
    }

    &__img-phone {
      top: 10px;
      left: 20px;
    }

    &__container {
      padding: 30px;
      margin-bottom: 50px;
    }

    &__text {
      padding-bottom: 30px;
    }
  }
}

@media (max-width: 400px) {
  .benefits {
    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 13px;
      margin-bottom: 5px;
    }

    &__img-trumpet {
      transform: scale(1.2);
    }
  }

  %column {
    width: 100%;
  }
}
