.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__left {
    padding-right: 114px;
    margin-bottom: 270px;
  }

  &__title {
    font-size: 49px;
    font-family: $font-second;
  }

  &__text {
    font-size: 16px;
    font-family: $font-main;
    margin: 22px 0 40px 0;
  }

  &__info {
    font-weight: 600;
    font-size: 16px;
    font-family: $font-main;
    color: #A5A5A5;
    display: flex;
    align-items: center;

    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__icon-mail {
    padding-right: 10px;
  }

  &__icon-phone {
    padding: 0 10px 0 20px;
  }

  &__right {
    width: 440px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-checkbox {
      font-weight: lighter;
      font-size: 10px;
      font-family: $font-main;
      line-height: 17px;
      display: flex;
      justify-content: space-between;
      letter-spacing: 0;
      color: #B2B2B2;

      & * {
        display: block;
      }

      & span {
        padding-left: 10px;
      }

      & input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        position: relative;
        outline: none;
        flex-shrink: 0;
        padding: 0;
        background: #FFFFFF no-repeat padding-box;
        border: 1px solid #95989A;
        border-radius: 4px;
      }

      & input:checked {
        background-image: url("../assets/checkmark2.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-name,
    &-email {
      display: block;
      color: $color-main;
      font-weight: bold;
      font-size: 11px;
      font-family: $font-main;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &-name input,
    &-email input {
      display: block;
      width: 100%;
      padding: 24px 14px 2px 14px;
      font-size: 14px;
      margin-bottom: 42px;
      border: none;
      border-bottom: 1px solid #95989A;
    }

    &-name input::after,
    &-email input::after {
      content: "";
      width: 444px;
      height: 4px;
      color: #95989A;
      display: block;
    }
  }
}

.btn-send {
  @extend %btn;
  padding: 20px 97px;
  margin-top: 20px;
  align-self: flex-end;
}

@media (max-width: 1000px) {
  .contact {
    padding: 0 30px;

    &__title {
      font-size: 36px;
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;

      &-container {
        padding-bottom: 15px;
      }
    }

    &__icon-phone {
      padding: 0 10px 0 0;
      display: inline;
    }

    &__left {
      padding-right: 50px;
    }
  }
}

@media (max-width: 850px) {
  .contact {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__left {
      margin-bottom: 60px;
      padding-right: 0;
    }
  }
}

@media (max-width: 550px) {
  .contact__right {
    padding: 0 30px;
    width: auto;
  }

  .btn-send {
    padding: 10px 40px;
  }
}
